@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-theme-color: var(--md-sys-color-primary) !important;

    --md-sys-color-primary: #256a4a;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #abf2c9;
    --md-sys-color-on-primary-container: #002112;

    --md-sys-color-secondary: #4e6356;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #d0e8d7;
    --md-sys-color-on-secondary-container: #0b1f15;

    --md-sys-color-tertiary: #3c6472;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #c0e9fa;
    --md-sys-color-on-tertiary-container: #001f28;

    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;

    --md-sys-color-surface: #ffffff;
    --md-sys-color-on-surface: #171d19;
    --md-sys-color-on-surface-variant: #404943;
    --md-sys-color-surface-bright: #f6fbf4;
    --md-sys-color-surface-dim: #d6dbd5;
    --md-sys-color-surface-container: #eaefe9;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #f0f5ef;
    --md-sys-color-surface-container-high: #e4eae3;
    --md-sys-color-surface-container-highest: #dee4de;
    --md-sys-color-outline: #707972;
    --md-sys-color-outline-variant: #c0c9c1;
}
